{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{% endblock %}
{% block css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="title-field">
            收垃圾路徑繪圖
    </div>
    <img class="path-img" src="{% static 'img/image.jpg' %}" alt=""  />
    
    <div class="path_generate_section">
        <form method="post" action="api/path_generate/" class="form">
            <p class="path_btn">選擇起點</p>
            <div class="dropdown_list">
              <select class="selectpicker" name="start_location">
                  {% for trash_can in trash_cans %}
                      {% if trash_can.tloaction_name == location %}
                          <option class="dropdown-item" value="{{ trash_can.id }}" selected="selected" >{{ trash_can.tloaction_name }}</option>
                      {% else %}
                        <option class="dropdown-item" value="{{ trash_can.id }}" >{{ trash_can.tloaction_name }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
            </div>
            <input class="btn btn-primary path_btn" id="pathBtn" type="submit" value="產生路徑" />
        </form>

        <img class="path-img" src="/display_image" alt="" />

    </div>




{% endblock %}
{% block javascript %}
    <script>
        // var btn = document.getElementById('pathBtn');
        // btn.onclick = function(){
        //     var text = document.getElementById('text');
        //     text.innerText = "你選擇的起點為：研陽大樓"
        // }
    </script>
{% endblock %}