.path_generate_section{
    height: 300px;
}
.form{
    display: flex;
}
.dropdown_list{
    padding: 20px;
}
.path_btn{
    margin-top: 20px;
    height: 40px;
    margin-right: 30px;
}
.path-img{
    width:80%;
    display: block;
}
@media (max-width: 575.98px) {
    .path-img{
        width: 100%;
        margin-bottom: 10px;
    }
    .form{
        flex-wrap: wrap;
    }

 }