.trash_can_title{
    background-color: #ccc;
    border-radius: 2px;
    padding: 10px;
    padding-left: 30px;
    margin-top: 20px;
    color: black;
    font-size: 20px;
}
.trash_history_graph .graph_title{
    margin-top: 10px;
    text-align: center;
    color: red;
}

.trash_statics{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-bottom: 10px;


}

.trash_current_data{
    display: flex;

}
.trash_history_graph{
     margin: 0 auto;
     width:50%;

}

.trash_weight_field{
    width: 200px;
    height: 120px;
    background: linear-gradient(45deg,#39f 0%,#2982cc 100%);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2);
    position: relative;
    margin-left: 30px;
}
.trash_data{
    position: absolute;
    color: white;
    left: 40px;
    top: 20px;
    font-size: 50px;
}
.unit{
    position: absolute;
    color: white;
    right: 34px;
    bottom: 4px;
    font-size: 30px;
}

@media (max-width: 575.98px) {
    .trash_history_graph{
        width: 100%;
        margin-bottom: 50px;
    }

 }

.page-footer{
    height: 100px;
}